.main {
     display: flex;
}

.left-side {
     flex: 3;
     height: 100dvh;
     background-color: #000;
     color: #fff;
     display: grid;
     place-items: center;
}

.left-side>h1 {
     font-style: normal;
     font-size: 5rem;
     font-weight: 700;
}



.right-side {
     --bg-color: #F5F5F5;
     --primary-radius: 10px;
     flex: 4;
     height: 100dvh;
     background-color: var(--bg-color);
     display: grid;
     place-items: center;
     font-family: var(--primary-font);
}


/* main-content */
.main-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     gap: 5px;
     width: min(317px, 93%);
}

/* Heading */
.main-content>h1:first-child {
     font-size: 1.5rem;
     margin-bottom: -5px;
}

/* Sub-heading */
.main-content>h1+p {
     font-size: 12px;
     font-weight: 600;
}


.auth-providers {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 10px 0px;
}

.auth-provider {
     border: none;
     border-radius: var(--primary-radius);
     padding: 5px 10px;
     background-color: #fff;
     color: #858585;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
     font-size: 13px;
     white-space: nowrap;
}

.main-content>form {
     width: 100%;
     padding: 30px;
     background-color: #fff;
     border-radius: var(--primary-radius);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 15px;
}

.input-grp {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 7px;
}

.input-grp>label {
     font-size: 14px;
}

.input-grp>input {
     background-color: #EAEAEA;
     color: #000;
     padding: 10px 15px;
     border: none;
     outline: none;
     border-radius: var(--primary-radius);
     font-size: 14px;
     letter-spacing: 1px;
}

.main-content>form>a {
     font-size: 12px;
     color: #346BD4;
}

.main-content>form>button[type="submit"] {
     width: 100%;
     padding: 8px 0;
     background-color: #000;
     color: #fff;
     border: none;
     border-radius: var(--primary-radius);
     font-weight: 600;
     cursor: pointer;
     letter-spacing: 1px;
}

.main-content>form+p {
     margin-top: 20px;
     width: 100%;
     font-size: 14px;
     text-align: center;
}

.main-content>form+p>span {
     color: #346BD4;
     cursor: pointer;
}

@media all and (width<700px) {
     .main {
          flex-direction: column;
     }

     .left-side {
          height: fit-content;
          width: 100vw;
     }

     .left-side>h1 {
          font-size: 3rem;
     }

     .right-side {
          padding-top: 50px;
     }
}